@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

// Gradient
$grey:  #BDC3C7;
$white: #ECF0F1;

// Core colours
$navy:   #34495E;
$dark:   #2C3E50;
$blue:   #2980B9;
$orange: #D35400;

// Status colours
$red:    #C0392B;
$green:  #27AE60;
$yellow: #F39C12;

// Transparencies
$shadow:      rgba(0, 0, 0, .5);
$transparent: rgba(236, 240, 241, .3);

$fakeTransparent: #758695;

// Mixins
@mixin shadow($colour) {
  -webkit-box-shadow: inset 10px 0 0 0 $colour, 0 1px 0 0 $shadow;
     -moz-box-shadow: inset 10px 0 0 0 $colour, 0 1px 0 0 $shadow;
          box-shadow: inset 10px 0 0 0 $colour, 0 1px 0 0 $shadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
          border-radius: $radius;

  background-clip: padding-box;
}

@mixin placeholder() {
  ::-webkit-input-placeholder { color: $white; }
       :-ms-input-placeholder { color: $white; }
           ::-moz-placeholder { color: $white; }
            :-moz-placeholder { color: $white; }
}

@mixin border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// Animations
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
          animation-name: shake;
}

// Global styles
html, body, section, .container { height: 100%; }

body {
  margin: 0;
  color: $white;
  padding: 50px 0;
  font-size: 16px;
  background: $dark;
  @include border-box();
  @include placeholder();
  font-family: 'Open Sans', sans-serif;
}

header {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  position: fixed;
  background: $dark;
  text-align: center;

  span {
    top: 14px;
    left: 10px;
    cursor: pointer;
    text-align: left;
    position: absolute;
  }
}

h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Lobster', cursive;
}

h2 {
  margin: 0;
  font-size: 22px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: 10px 10px 20px 20px;

    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  li.green {
    @include shadow($green);
  }

  li.red {
    @include shadow($red);
  }

  li.yellow {
    @include shadow($yellow);
  }
}

button {
  left: 0;
  bottom: 0;
  width: 100%;
  border: none;
  padding: 15px;
  color: $white;
  outline: none;
  font-size: 18px;
  position: fixed;
  cursor: pointer;
  text-align: center;
  background: $orange;
}

input[type="text"] {
  width: 100%;
  border: none;
  color: $white;
  outline: none;
  font-size: 22px;
  padding: 15px 10px;
  @include border-box();
  background: $transparent;
  @include border-radius(10px);
}

// Global classes
.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 800px;
  background: $navy;
  position: relative;
}

.form-control {
  padding: 30px 10px;
}

.form-control#slider {
  padding: 30px 40px;
}

// Styles for the list items
.time {
  color: $grey;
  font-size: 12px;
  text-align: right;
}

.title {
  margin-top: -5px;
}

.reocurrence {
  color: $grey;
  font-size: 14px;

  i {
    color: $blue;
    font-size: 12px;
  }
}

// The empty note
.note {
  top: 50%;
  font-size: 22px;
  text-align: center;
  position: relative;
  transform: translateY(-50%);

  i {
    font-size: 60px;
    padding-top: 60px;
  }
}

// The icons checkboxes
.icons {
  overflow: hidden;
  padding: 30px 10px;

  a {
    width: 25%;
    float: left;
    color: $white;
    display: block;
    cursor: pointer;
    font-size: 16px;
    padding: 20px 5px;
    text-align: center;
    text-decoration: none;
    @include border-box();
    @include border-radius(10px);

    &.on,
    &:hover {
      background: $transparent;
    }

    &:before {
      display: block;
      font-size: 60px;
      padding-bottom: 10px;
    }

    &.hour:before {
      content: "\f252";
    }

    &.day:before {
      content: "\f185";
    }

    &.week:before {
      content: "\f200";
    }

    &.month:before {
      content: "\f133";
    }
  }
}

// Deal with our fake router
section {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $navy;
  position: absolute;
  overflow-y: scroll;
}

section.home {
  z-index: 1;
}

section.form {
  z-index: 0;
}

button.new-button {
  z-index: 1;
}

button.save-button {
  z-index: 0;
}

.editing {
  section.home {
    z-index: 0;
  }

  section.form {
    z-index: 1;
  }

  button.new-button {
    z-index: 0;
  }

  button.save-button {
    z-index: 1;
  }
}

// The range slider
.noUi-target.noUi-connect {
  border: none;
  box-shadow: none;
  background: $blue;
}

.noUi-target,
.noUi-origin {
  @include border-radius(10px);
}

.noUi-origin {
  box-shadow: none;
  background: $fakeTransparent;
}

.noUi-horizontal {
  height: 10px;

  .noUi-handle {
    top: -20px;
    width: 50px;
    height: 50px;
    box-shadow: none;
    margin-left: -8px;
    background: $blue;
    border: 5px solid $white;
    @include border-radius(30px);
  }

  .noUi-handle:after,
  .noUi-handle:before {
    display: none;
  }
}
