@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

// Gradient
$grey:  #BDC3C7;
$white: #ECF0F1;

// Core colours
$navy:   #34495E;
$dark:   #2C3E50;
$blue:   #2980B9;
$orange: #D35400;

// Status colours
$red:    #C0392B;
$green:  #27AE60;
$yellow: #F39C12;

// Transparencies
$shadow:      rgba(0, 0, 0, .5);
$transparent: rgba(236, 240, 241, .3);

@mixin shadow($colour) {
  -webkit-box-shadow: inset 10px 0 0 0 $colour, 0 1px 0 0 $shadow;
     -moz-box-shadow: inset 10px 0 0 0 $colour, 0 1px 0 0 $shadow;
          box-shadow: inset 10px 0 0 0 $colour, 0 1px 0 0 $shadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
          border-radius: $radius;

  background-clip: padding-box;
}

@mixin placeholder() {
  ::-webkit-input-placeholder { color: $white; }
       :-ms-input-placeholder { color: $white; }
           ::-moz-placeholder { color: $white; }
            :-moz-placeholder { color: $white; }
}

@mixin border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, section, .container { height: 100%; }

body {
  margin: 0;
  color: $white;
  padding: 50px 0;
  font-size: 16px;
  background: $dark;
  @include border-box();
  @include placeholder();
  font-family: 'Open Sans', sans-serif;
}

header {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  position: fixed;
  background: $dark;
  text-align: center;

  span {
    top: 14px;
    left: 10px;
    cursor: pointer;
    text-align: left;
    position: absolute;
  }
}

section {
  overflow-y: scroll;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 22px;
  margin: 40px 10px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: 10px 10px 20px 20px;

    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  li.green {
    @include shadow($green);
  }

  li.red {
    @include shadow($red);
  }

  li.yellow {
    @include shadow($yellow);
  }
}

button {
  left: 0;
  bottom: 0;
  width: 100%;
  border: none;
  padding: 15px;
  color: $white;
  outline: none;
  font-size: 18px;
  position: fixed;
  cursor: pointer;
  text-align: center;
  background: $orange;
}

input[type="text"] {
  width: 100%;
  border: none;
  color: $white;
  outline: none;
  font-size: 22px;
  padding: 15px 10px;
  @include border-box();
  background: $transparent;
  @include border-radius(10px);
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 800px;
  background: $navy;
}

.form-control {
  padding: 30px 10px;
}

// Styles for the list items
.time {
  color: $grey;
  font-size: 12px;
  text-align: right;
}

.title {
  margin-top: -5px;
}

.reocurrence {
  color: $grey;
  font-size: 14px;

  i {
    color: $blue;
    font-size: 12px;
  }
}

// The empty note
.note {
  top: 50%;
  font-size: 22px;
  text-align: center;
  position: relative;
  transform: translateY(-50%);

  i {
    font-size: 60px;
    padding-top: 60px;
  }
}

// The icons checkboxes
.icons {
  padding: 30px 10px;

  i {
    width: 25%;
    float: left;
    padding: 30px 0;
    cursor: pointer;
    font-size: 60px;
    text-align: center;
    @include border-box();
    @include border-radius(10px);
  }

  i.active {
    background: $transparent;
  }
}

// The range slider (temporary)
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #2980b9;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: px solid #ecf0f1;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #2980b9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2980b9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #2980b9;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: px solid #ecf0f1;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #2980b9;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2980b9;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #2980b9;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: px solid #ecf0f1;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #2980b9;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2980b9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2980b9;
}
